.home-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    justify-content: top;
    padding: 0 20px;
    gap: 10px;
    width: 20%;
}

.listing-container {
    width: 80%;
}

@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
    }

    .checkboxes {
        flex-direction: row;
        align-content: center;
        width: 100%;
    }

    .checkboxes > * {
        width: 100%;
    }

    .listing-container {
        width: 100%;
        margin-top: 25px;
        align-content: center;
    }
}